USE [master]
GO
/****** Object:  Database [DUAN1]    Script Date: 20-11-2022 01:07:08 ******/
CREATE DATABASE [DUAN1]
 GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DUAN1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DUAN1]
GO
/****** Object:  Table [dbo].[GIOHANG]    Script Date: 20-11-2022 01:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIOHANG](
	[ID] [uniqueidentifier] NOT NULL,
	[IDKH] [uniqueidentifier] NULL,
	[IDSP] [uniqueidentifier] NULL,
	[NGAYTHEMVAOGIOHANG] [date] NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [decimal](20, 0) NULL,
	[HINHANH] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONCHITIET]    Script Date: 20-11-2022 01:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONCHITIET](
	[IDHOADONMUAHANG] [uniqueidentifier] NOT NULL,
	[IDSP] [uniqueidentifier] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](20, 0) NULL,
 CONSTRAINT [PK_HOADONCHITIET] PRIMARY KEY CLUSTERED 
(
	[IDHOADONMUAHANG] ASC,
	[IDSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONDATHANG]    Script Date: 20-11-2022 01:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONDATHANG](
	[ID] [uniqueidentifier] NOT NULL,
	[IDNV] [uniqueidentifier] NULL,
	[IDKH] [uniqueidentifier] NULL,
	[IDSP] [uniqueidentifier] NULL,
	[IDGH] [uniqueidentifier] NULL,
	[IDKM] [uniqueidentifier] NULL,
	[NGAYTAOHOADON] [date] NULL,
	[NGAYDUTINH] [date] NULL,
	[NGAYGIAOHANG] [date] NULL,
	[NGAYNHANHANG] [date] NULL,
	[NGAYTHANHTOAN] [date] NULL,
	[TENSANPHAM] [nvarchar](100) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [decimal](20, 0) NULL,
	[KHUYENMAI] [decimal](20, 0) NULL,
	[THANHTIEN] [decimal](20, 0) NULL,
	[TENNGUOINHAN] [nvarchar](50) NULL,
	[DAICHI] [nvarchar](100) NULL,
	[SDT] [varchar](30) NULL,
	[TRANGTHAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONMUAHANG]    Script Date: 20-11-2022 01:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONMUAHANG](
	[ID] [uniqueidentifier] NOT NULL,
	[IDNV] [uniqueidentifier] NULL,
	[IDKM] [uniqueidentifier] NULL,
	[SOLUONG] [int] NULL,
	[NGAYTAOHOADON] [date] NULL,
	[KHUYENMAI] [decimal](20, 0) NULL,
	[TONGTIEN] [decimal](20, 0) NULL,
	[TRANGTHAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 20-11-2022 01:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ID] [uniqueidentifier] NOT NULL,
	[MAKH] [varchar](20) NULL,
	[HOTEN] [nvarchar](30) NULL,
	[GIOITINH] [nvarchar](30) NULL,
	[NGAYSINH] [date] NULL,
	[SDT] [varchar](30) NULL,
	[EMAIL] [nvarchar](75) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[THANHPHO] [nvarchar](50) NULL,
	[QUOCGIA] [nvarchar](50) NULL,
	[TENTAIKHOAN] [nvarchar](50) NULL,
	[MATKHAU] [varchar](max) NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 20-11-2022 01:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[ID] [uniqueidentifier] NOT NULL,
	[MA] [varchar](20) NULL,
	[TENKM] [nvarchar](30) NULL,
	[NGAYBATDAU] [date] NULL,
	[NGAYKETTHUC] [date] NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 20-11-2022 01:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[ID] [uniqueidentifier] NOT NULL,
	[MA] [varchar](20) NULL,
	[TEN] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 20-11-2022 01:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID] [uniqueidentifier] NOT NULL,
	[MANV] [varchar](20) NULL,
	[HOTEN] [nvarchar](30) NULL,
	[GIOITINH] [nvarchar](30) NULL,
	[NgaySinh] [date] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](75) NULL,
	[SDT] [varchar](30) NULL,
	[TENTAIKHOAN] [nvarchar](100) NULL,
	[MATKHAU] [varchar](max) NULL,
	[HINHANH] [nvarchar](50) NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANLYTAIKHOAN]    Script Date: 20-11-2022 01:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLYTAIKHOAN](
	[IDKH] [uniqueidentifier] NOT NULL,
	[IDNV] [uniqueidentifier] NOT NULL,
	[TENTK] [nvarchar](30) NULL,
	[MATKHAU] [varchar](max) NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_QUANLYTAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[IDKH] ASC,
	[IDNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 20-11-2022 01:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[Id] [uniqueidentifier] NOT NULL,
	[IDLOAISP] [uniqueidentifier] NULL,
	[MASP] [varchar](20) NULL,
	[TENSP] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[HINHANH] [nvarchar](50) NULL,
	[SIZE] [nvarchar](50) NULL,
	[MAUSAC] [nvarchar](50) NULL,
	[CHATLIEU] [nvarchar](50) NULL,
	[GIANHAP] [decimal](20, 0) NULL,
	[GIABAN] [decimal](20, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KhachHang] ([ID], [MAKH], [HOTEN], [GIOITINH], [NGAYSINH], [SDT], [EMAIL], [DIACHI], [THANHPHO], [QUOCGIA], [TENTAIKHOAN], [MATKHAU], [TrangThai]) VALUES (N'83f40805-292f-4edc-967a-829f4190656f', N'KH1', N'Bùi Văn Nguyên', N'Nam', CAST(N'2000-02-13' AS Date), N'0981927852', N'nguyenbv561@gmail.com', N'Phúc Diễn, quận Bắc Từ Liêm', N'Hà Nội', N'Việt Nam', NULL, NULL, 1)
GO
INSERT [dbo].[LOAISANPHAM] ([ID], [MA], [TEN]) VALUES (N'a8d87ab8-55ba-4498-baa0-64d465eb324a', N'LSP1', N'Quần')
INSERT [dbo].[LOAISANPHAM] ([ID], [MA], [TEN]) VALUES (N'97df4df5-9867-4ecd-86d9-dcadb93bedfe', N'LSP2', N'Áo len')
GO
INSERT [dbo].[NHANVIEN] ([ID], [MANV], [HOTEN], [GIOITINH], [NgaySinh], [DIACHI], [EMAIL], [SDT], [TENTAIKHOAN], [MATKHAU], [HINHANH], [TrangThai]) VALUES (N'c63e4a8a-a643-4674-a35c-507568a428b7', N'NV1', N'Nguyễn Văn A', N'Nam', CAST(N'1999-05-25' AS Date), N'Thạch Thất, Hà Nội', N'vana54@gmail.com', N'0952714736', N'vana1234', N'1234567', N'nv1.png', 1)
INSERT [dbo].[NHANVIEN] ([ID], [MANV], [HOTEN], [GIOITINH], [NgaySinh], [DIACHI], [EMAIL], [SDT], [TENTAIKHOAN], [MATKHAU], [HINHANH], [TrangThai]) VALUES (N'2c92ab2c-15e8-4b27-9b2e-f066550332ae', N'NV2', N'Trần Thị B', N'Nữ', CAST(N'2000-05-15' AS Date), N'Chương Mĩ, Hà Nội', N'bthi54@gmail.com', N'0954718249', N'bthi123', N'1234678', N'nv2.png', 1)
GO
INSERT [dbo].[SANPHAM] ([Id], [IDLOAISP], [MASP], [TENSP], [SOLUONG], [HINHANH], [SIZE], [MAUSAC], [CHATLIEU], [GIANHAP], [GIABAN]) VALUES (N'8a3c959f-3e55-4b36-b759-69f72b658b43', N'97df4df5-9867-4ecd-86d9-dcadb93bedfe', N'SP2', N'Áo Len', 50, N'aolen.png', N'L', N'Hồng', N'Len', CAST(150000 AS Decimal(20, 0)), CAST(450000 AS Decimal(20, 0)))
INSERT [dbo].[SANPHAM] ([Id], [IDLOAISP], [MASP], [TENSP], [SOLUONG], [HINHANH], [SIZE], [MAUSAC], [CHATLIEU], [GIANHAP], [GIABAN]) VALUES (N'fe34014e-e9bc-4e1e-a339-a12fc0b63921', N'a8d87ab8-55ba-4498-baa0-64d465eb324a', N'SP1', N'Quần Jean', 20, N'quanJean.png', N'M', N'xanh', N'cotton', CAST(50000 AS Decimal(20, 0)), CAST(350000 AS Decimal(20, 0)))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__603F592D046CE84A]    Script Date: 20-11-2022 01:07:08 ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHUYENMA__3214CCBE4D8282B9]    Script Date: 20-11-2022 01:07:08 ******/
ALTER TABLE [dbo].[KHUYENMAI] ADD UNIQUE NONCLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LOAISANP__3214CCBE761C1F7D]    Script Date: 20-11-2022 01:07:08 ******/
ALTER TABLE [dbo].[LOAISANPHAM] ADD UNIQUE NONCLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHANVIEN__603F5115A60E5F0B]    Script Date: 20-11-2022 01:07:08 ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SANPHAM__60228A33B63BE3B7]    Script Date: 20-11-2022 01:07:08 ******/
ALTER TABLE [dbo].[SANPHAM] ADD UNIQUE NONCLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GIOHANG] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[GIOHANG] ADD  DEFAULT (NULL) FOR [NGAYTHEMVAOGIOHANG]
GO
ALTER TABLE [dbo].[GIOHANG] ADD  DEFAULT ((0)) FOR [DONGIA]
GO
ALTER TABLE [dbo].[GIOHANG] ADD  DEFAULT (NULL) FOR [HINHANH]
GO
ALTER TABLE [dbo].[HOADONCHITIET] ADD  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[HOADONDATHANG] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[HOADONDATHANG] ADD  DEFAULT (NULL) FOR [NGAYTAOHOADON]
GO
ALTER TABLE [dbo].[HOADONDATHANG] ADD  DEFAULT (NULL) FOR [NGAYDUTINH]
GO
ALTER TABLE [dbo].[HOADONDATHANG] ADD  DEFAULT (NULL) FOR [NGAYGIAOHANG]
GO
ALTER TABLE [dbo].[HOADONDATHANG] ADD  DEFAULT (NULL) FOR [NGAYNHANHANG]
GO
ALTER TABLE [dbo].[HOADONDATHANG] ADD  DEFAULT (NULL) FOR [NGAYTHANHTOAN]
GO
ALTER TABLE [dbo].[HOADONDATHANG] ADD  DEFAULT (NULL) FOR [TENSANPHAM]
GO
ALTER TABLE [dbo].[HOADONDATHANG] ADD  DEFAULT ((0)) FOR [DONGIA]
GO
ALTER TABLE [dbo].[HOADONDATHANG] ADD  DEFAULT ((0)) FOR [KHUYENMAI]
GO
ALTER TABLE [dbo].[HOADONDATHANG] ADD  DEFAULT ((0)) FOR [THANHTIEN]
GO
ALTER TABLE [dbo].[HOADONDATHANG] ADD  DEFAULT (NULL) FOR [TENNGUOINHAN]
GO
ALTER TABLE [dbo].[HOADONDATHANG] ADD  DEFAULT (NULL) FOR [DAICHI]
GO
ALTER TABLE [dbo].[HOADONDATHANG] ADD  DEFAULT (NULL) FOR [SDT]
GO
ALTER TABLE [dbo].[HOADONDATHANG] ADD  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[HOADONMUAHANG] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[HOADONMUAHANG] ADD  DEFAULT (NULL) FOR [NGAYTAOHOADON]
GO
ALTER TABLE [dbo].[HOADONMUAHANG] ADD  DEFAULT ((0)) FOR [KHUYENMAI]
GO
ALTER TABLE [dbo].[HOADONMUAHANG] ADD  DEFAULT ((0)) FOR [TONGTIEN]
GO
ALTER TABLE [dbo].[HOADONMUAHANG] ADD  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (NULL) FOR [GIOITINH]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (NULL) FOR [NGAYSINH]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (NULL) FOR [SDT]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (NULL) FOR [EMAIL]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (NULL) FOR [DIACHI]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (NULL) FOR [THANHPHO]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (NULL) FOR [QUOCGIA]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (NULL) FOR [TENTAIKHOAN]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (NULL) FOR [MATKHAU]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[KHUYENMAI] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[KHUYENMAI] ADD  DEFAULT (NULL) FOR [NGAYBATDAU]
GO
ALTER TABLE [dbo].[KHUYENMAI] ADD  DEFAULT (NULL) FOR [NGAYKETTHUC]
GO
ALTER TABLE [dbo].[KHUYENMAI] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[LOAISANPHAM] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (NULL) FOR [HOTEN]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (NULL) FOR [GIOITINH]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (NULL) FOR [NgaySinh]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (NULL) FOR [DIACHI]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (NULL) FOR [EMAIL]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (NULL) FOR [SDT]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (NULL) FOR [TENTAIKHOAN]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (NULL) FOR [MATKHAU]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (NULL) FOR [HINHANH]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[QUANLYTAIKHOAN] ADD  DEFAULT (NULL) FOR [MATKHAU]
GO
ALTER TABLE [dbo].[QUANLYTAIKHOAN] ADD  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT (NULL) FOR [TENSP]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT (NULL) FOR [HINHANH]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT (NULL) FOR [SIZE]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT (NULL) FOR [MAUSAC]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT (NULL) FOR [CHATLIEU]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ((0)) FOR [GIANHAP]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ((0)) FOR [GIABAN]
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD FOREIGN KEY([IDKH])
REFERENCES [dbo].[KhachHang] ([ID])
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD FOREIGN KEY([IDSP])
REFERENCES [dbo].[SANPHAM] ([Id])
GO
ALTER TABLE [dbo].[HOADONCHITIET]  WITH CHECK ADD  CONSTRAINT [FK3] FOREIGN KEY([IDHOADONMUAHANG])
REFERENCES [dbo].[HOADONMUAHANG] ([ID])
GO
ALTER TABLE [dbo].[HOADONCHITIET] CHECK CONSTRAINT [FK3]
GO
ALTER TABLE [dbo].[HOADONCHITIET]  WITH CHECK ADD  CONSTRAINT [FK4] FOREIGN KEY([IDSP])
REFERENCES [dbo].[SANPHAM] ([Id])
GO
ALTER TABLE [dbo].[HOADONCHITIET] CHECK CONSTRAINT [FK4]
GO
ALTER TABLE [dbo].[HOADONDATHANG]  WITH CHECK ADD FOREIGN KEY([IDGH])
REFERENCES [dbo].[GIOHANG] ([ID])
GO
ALTER TABLE [dbo].[HOADONDATHANG]  WITH CHECK ADD FOREIGN KEY([IDKH])
REFERENCES [dbo].[KhachHang] ([ID])
GO
ALTER TABLE [dbo].[HOADONDATHANG]  WITH CHECK ADD FOREIGN KEY([IDKM])
REFERENCES [dbo].[KHUYENMAI] ([ID])
GO
ALTER TABLE [dbo].[HOADONDATHANG]  WITH CHECK ADD FOREIGN KEY([IDNV])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[HOADONDATHANG]  WITH CHECK ADD FOREIGN KEY([IDSP])
REFERENCES [dbo].[SANPHAM] ([Id])
GO
ALTER TABLE [dbo].[HOADONMUAHANG]  WITH CHECK ADD FOREIGN KEY([IDKM])
REFERENCES [dbo].[KHUYENMAI] ([ID])
GO
ALTER TABLE [dbo].[HOADONMUAHANG]  WITH CHECK ADD FOREIGN KEY([IDNV])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[QUANLYTAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK1] FOREIGN KEY([IDKH])
REFERENCES [dbo].[KhachHang] ([ID])
GO
ALTER TABLE [dbo].[QUANLYTAIKHOAN] CHECK CONSTRAINT [FK1]
GO
ALTER TABLE [dbo].[QUANLYTAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK2] FOREIGN KEY([IDNV])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[QUANLYTAIKHOAN] CHECK CONSTRAINT [FK2]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([IDLOAISP])
REFERENCES [dbo].[LOAISANPHAM] ([ID])
GO
USE [master]
GO
